@Model List<Wishlist.Models.Item>
    @{
        ViewData["Title"] = "Index";
    }

    <h1>Wishlist</h1>
    <a asp-action="Create">Add Item</a>
    <u1>
        @foreach (var Item in Model.Items)
        {


            <li>@Model.Description</li>
            <a asp-action="Delete" asp-route-id="@Model.Id">delete</a>
        }
    </u1>



